// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~video.js/dist/video-js.css";

@import "~font-awesome/scss/font-awesome";
@import "~font-awesome/scss/core";
@import "~font-awesome/scss/icons";

.fa {
    font-size: 17px;
    cursor: pointer;
    user-select: none;
}

.fas:hover {
    color: darkblue;
}
strong.card-list-product-options{
    font-size: large;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}


/* 1. Theme default css */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
/* Normal desktop :1200px. */
/* Normal desktop :992px. */
/* Tablet desktop :768px. */
/* small mobile :320px. */
/* Large Mobile :480px. */
/* line 6, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* line 13, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
.img {
    max-width: 100%;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* line 17, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
a,
.button {
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

/* line 21, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
a:focus,
.button:focus, button:focus {
    text-decoration: none;
    outline: none;
}

/* line 26, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
a:focus {
    text-decoration: none;
}

/* line 29, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
a:focus,
a:hover,
.portfolio-cat a:hover,
.footer -menu li a:hover {
    text-decoration: none;
}

/* line 35, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
a,
button {
    color: #1F1F1F;
    outline: medium none;
}

/* line 40, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
h1, h2, h3, h4, h5 {
    font-family: "Roboto", sans-serif;
    color: #191d34;
}

/* line 44, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

/* line 53, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
ul {
    margin: 0px;
    padding: 0px;
}

/* line 57, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
li {
    list-style: none;
}

/* line 60, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #7A838B;
    margin-bottom: 13px;
    font-family: "Roboto", sans-serif;
}

/* line 69, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

/* line 75, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
*::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

/* line 80, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

/* line 85, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

/* line 90, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
*::-webkit-input-placeholder {
    color: #cccccc;
    font-size: 14px;
    opacity: 1;
}

/* line 95, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
*:-ms-input-placeholder {
    color: #cccccc;
    font-size: 14px;
    opacity: 1;
}

/* line 100, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
*::-ms-input-placeholder {
    color: #cccccc;
    font-size: 14px;
    opacity: 1;
}

/* line 105, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
*::placeholder {
    color: #cccccc;
    font-size: 14px;
    opacity: 1;
}

/* line 111, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
h3 {
    font-size: 24px;
}

/* line 115, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
.mb-65 {
    margin-bottom: 67px;
}

/* line 119, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
.black-bg {
    background: #020c26 !important;
}

/* line 123, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
.white-bg {
    background: #ffffff;
}

/* line 126, ../../Arafath/CL/December/235. Job board/HTML/scss/theme-default.scss */
.gray-bg {
    background: #f5f5f5;
}

.navbar {
    background-color: #0c64a2;
    padding: 0.35rem 1rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.app-content {
    flex: 1;
}

.table th, .table td {
    padding: 0.55rem 0.75rem;
}

.adverts-list {
    .advert {
        margin: 20px 0;
        padding-bottom: 20px;
        border-bottom: 1px solid #ddd;

        &:first-of-type {
            margin-top: 0;
        }
    }
}

.search-bar {
    background: #e9ecef;
}

//.breadcrumb {
//    background: none;
//    padding: 0;
//}

.banner {
    border: 1px solid #ddd;
}


// The default color for the playlist menu background, almost black
$background-color: #1a1a1a;

// The color used to emphasize the currently playing video and for effects
$highlight-color: #141a21;

// The primary foreground color
$main-color: #fff;

// Background color for thumbnail placeholders
$placeholder-background-color: #303030;

// Rules common to mouse and touch devices
.vjs-playlist {
    padding: 0;
    background-color: $background-color;
    color: $main-color;
    list-style-type: none;

    img {
        display: block;

        // Needed because sometimes IE10 adds width / height properties
        height: auto;
        width: auto;
    }

    .vjs-playlist-item-list {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .vjs-playlist-item {
        position: relative;
        cursor: pointer;
        overflow: hidden;
    }

    .vjs-playlist-thumbnail-placeholder {
        background: $placeholder-background-color;
    }

    .vjs-playlist-now-playing-text {
        display: none;
        position: absolute;
        top: 0;
        left: 0;

        // This keeps this element aligned vertically with vjs-playlist-name.
        padding-left: 2px;
        margin: .8rem;
    }

    .vjs-playlist-duration {
        position: absolute;
        top: .5rem;
        left: .5rem;
        padding: 2px 5px 3px;
        margin-left: 2px;
        background-color: rgba(26, 26, 26, 0.8);
    }

    .vjs-playlist-title-container {
        position: absolute;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        padding: .5rem .8rem;
        text-shadow:  1px  1px 2px black,
        -1px  1px 2px black,
        1px -1px 2px black,
        -1px -1px 2px black;
    }

    .vjs-playlist-name {
        display: block;
        max-height: 2.5em;

        // So drop shadow doesn't get cut off as overflow
        padding: 0 0 4px 2px;
        font-style: normal;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        // line-height: normal was causing overflow cutoff issues on Android, since normal
        // lets different user agents pick a value. Here we set a consistent precise value.
        line-height: 20px;
    }

    .vjs-playlist-description{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: block;
        font-size: 14px;
        padding: 0 0 0 2px;
    }

    .vjs-up-next-text {
        display: none;
        padding: .1rem 2px;
        font-size: .8em;
        text-transform: uppercase;
    }

    .vjs-up-next {

        .vjs-up-next-text {
            display: block;
        }
    }

    // Selected item rules
    .vjs-selected {
        background-color: $highlight-color;

        img {
            opacity: .2;
        }

        .vjs-playlist-duration {
            display: none;
        }

        .vjs-playlist-now-playing-text {
            display: block;
        }

        .vjs-playlist-title-container {
            text-shadow: none;
        }
    }
}

// Vertical/default playlist orientation
.vjs-playlist-vertical {
    overflow-x: hidden;
    overflow-y: auto;

    img {
        width: 100%;
        min-height: 54px;
    }

    .vjs-playlist-item {
        margin-bottom: 5px;
    }

    .vjs-playlist-thumbnail {
        display: block;
        width: 100%;
    }

    .vjs-playlist-thumbnail-placeholder {
        height: 100px;
    }
}

// Horizontal playlist orientation
.vjs-playlist-horizontal {
    overflow-x: auto;
    overflow-y: hidden;

    img {
        min-width: 100px;
        height: 100%;
    }

    .vjs-playlist-item-list {
        height: 100%;
        white-space: nowrap;
    }

    .vjs-playlist-item {
        display: inline-block;
        height: 100%;
        margin-right: 5px;
    }

    .vjs-playlist-thumbnail {
        display: block;
        height: 100%;
    }

    .vjs-playlist-thumbnail-placeholder {
        height: 100%;
        width: 180px;
    }
}

// Prevent interaction with the playlist menu while ads are playing
// on browsers that don't support pointer-events (IE<11), prevent scrolling
// past the ad overlay
.vjs-playlist.vjs-ad-playing {
    overflow: hidden;
}

// prevent clicks and scrolling from affecting the playlist during ads
.vjs-playlist.vjs-ad-playing.vjs-csspointerevents {
    pointer-events: none;
    overflow: auto;

    // Fix for IE11 pointer-events bug that allowed clicking playlist during ads
    .vjs-playlist-ad-overlay {
        pointer-events: auto;
    }
}

// darken the playlist menu display to indicate it's not interactive during ads
.vjs-playlist.vjs-ad-playing .vjs-playlist-ad-overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    // IE8 fallback
    background-color: #1a1a1a;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    // modern browsers
    background-color: rgba(0, 0, 0, 0.5);
}

// Parametric rules. These are specialized for touch and mouse-based devices
@mixin playlist-base($base-font-size: 14px) {
    font-size: $base-font-size;

    .vjs-playlist-description {
        height: $base-font-size * 2;
        line-height: ceil($base-font-size * 1.5);
    }
}

// Touch-device playlist dimensions
.vjs-playlist {
    @include playlist-base();
}

// Mouse-only playlist dimensions
.vjs-mouse.vjs-playlist {
    @include playlist-base(15px);
}

// Larger font size for larger player
@media (min-width: 600px) {
    .vjs-mouse.vjs-playlist {
        @include playlist-base(17px);
    }

    .vjs-playlist .vjs-playlist-name {
        line-height: 22px;
    }
}

// Don't show now playing / up next when there isn't room
@media (max-width: 520px) {

    // These styles exist both with and without .vjs-mouse
    .vjs-playlist .vjs-selected .vjs-playlist-now-playing-text,
    .vjs-playlist .vjs-up-next .vjs-up-next-text {
        display: none;
    }

    .vjs-mouse.vjs-playlist .vjs-selected .vjs-playlist-now-playing-text,
    .vjs-mouse.vjs-playlist .vjs-up-next .vjs-up-next-text {
        display: none;
    }
}

// If now playing / up next are shown, make sure there is room.
// Only affects thumbnails with very wide aspect ratio, which get
// stretched vertically. We could avoid the stretching by making this a
// CSS background image and using background-size: cover; but then it'd
// get clipped, so not sure that's better.
@media (min-width: 521px) {
    .vjs-playlist img {
        min-height: 85px;
    }
}

// Don't show duration when there isn't room
@media (max-width: 750px) {
    .vjs-playlist .vjs-playlist-duration {
        display: none;
    }
}
