<template>
    <div class="row">
        <div class="col-5">
            <div v-show="!control_buttons_disabled">
                <div class="card">
                    <div class="card-header">
                        Source link course
                        <span class="badge badge-primary  float-right" @click.prevent.stop="showFormSourceLinkForm=!showFormSourceLinkForm">Show/Hide</span>
                    </div>
                    <div class="card-body" v-show="showFormSourceLinkForm">
                        <p class="card-text">
                            <label>Source link course</label><input type="text" v-model="sourceLinkCourse" required>
                            <button type="button" class="btn btn-secondary" @click.prevent.stop="saveSourceLinkCourse">Save</button>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Create new category
                        <span class="badge badge-primary  float-right" @click.prevent.stop="showFormCreateCategory=!showFormCreateCategory">Show/Hide</span>
                    </div>
                    <div class="card-body" v-show="showFormCreateCategory">
                        <p class="card-text">
                            <label>Name</label><input type="text" v-model="category" required>
                            <button type="button" class="btn btn-secondary" @click.prevent.stop="createCategory">Create category</button>
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        Move videos to category
                        <span class="badge badge-primary float-right" @click.prevent.stop="showFormMoveVideosToCategory=!showFormMoveVideosToCategory">Show/Hide</span>
                    </div>
                    <div class="card-body" v-show="showFormMoveVideosToCategory">
                        <p class="card-text">
                            <strong>Move videos:</strong>
                            <label class="alert-info">{{selected_videos}} </label><br>
                            <strong v-show="fromCategory.name!==''">From category: <label class="alert-primary"> {{fromCategory.name}}</label> <br></strong>
                            <strong>To category:</strong><label class="alert-primary"> {{selected_category.name}}</label><br>
                        </p>
                        <p>
                            <button class="btn btn-danger " @click.prevent.stop="addVideosToCategory">Move videos to category</button>
                            <button class="btn btn-success " @click.prevent.stop="cancelSelectCategory">Cancel</button>
                        </p>
                    </div>
                </div>
            </div>
            <table class="table" >
                <tbody>
                    <tr v-for="category of this.categories">
                        <th scope="row">
                            <category-videos
                                :options="category"
                                :control_buttons_disabled="control_buttons_disabled"
                                :key="componentKey"
                            ></category-videos>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-4" v-show="show_with_out_category_videos">
            <h3>
                <span class="badge badge-primary " @click.prevent.stop="show_without_category_list=!show_without_category_list">
                    Without category ({{ otherVideos.length }})
                </span>
            </h3>
            <table class="table" v-show="show_without_category_list">
                <tbody>
                <tr v-for="(video, index) in otherVideos">
                    <th scope="row">
                        <input type="checkbox" @click="toggle(video, index, $event)" :id="video.id+`_without_category`" :value="video.id" :name="video.id" v-model="selected_videos">
                    </th>
                    <td>{{video.id}}</td>
                    <td>{{video.title}}</td>
                    <td>{{video.duration}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <button class="btn btn-secondary btn-block" @click.prevent="getSourceStructure">
                Get course structure from source
            </button><br>
            <button class="btn btn-danger btn-block" @click.prevent="copyCategoriesNames">Copy categories names</button><br>
            <table class="table table-striped" >
                <tbody>
                <tr v-for="category of this.sourceCategories">
                    <td>
                        <category-videos
                            :options="category"
                            :control_buttons_disabled="true"
                            :key="componentKey"
                        ></category-videos>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
import CategoryVideos from "./CategoryVideos";
export default {
    name: "CategoryVideosControl",
    components: {CategoryVideos},
    props: {
        options: {
            type: Object,
            default() {
                return {};
            }
        },
        course_id: {type: Number, required: true},
        url_up_down_position_video: {type: String, required: false, default(){ return '';}},
        url_get_category: {type: String, required: false, default(){ return '';}},
        url_get_tree: {type: String, required: false, default(){ return '';}},
        url_create_category: {type: String, required: false, default(){ return '';}},
        url_update_category: {type: String, required: false, default(){ return '';}},
        show_with_out_category_videos:{type: Boolean, required: false, default(){ return false;}},
        url_add_video_to_category:{type: String, required: false, default(){ return "";}},
        url_move_to_another_category:{type: String, required: false, default(){ return "";}},
        course_link:{type: String, required: false, default(){ return "";}},
        url_update_source_link_of_course:{type: String, required: false, default(){ return "";}},
        route_course_structure_from_source:{type: String, required: false, default(){ return "";}},
        url_up_down_category_position:{type: String, required: false, default(){ return "";}},
        url_delete_category:{type: String, required: false, default(){ return "";}},
    },
    data(){
        return {
            categories: [],
            sourceCategories:[],
            otherVideos: [],
            category:'',
            control_buttons_disabled: false,
            selected_category:{name:''},
            fromCategory: {name: ''},
            selected_videos: [],
            selected_videos_from_category: [],
            show_without_category_list:false,
            showFormCreateCategory: false,
            showFormMoveVideosToCategory: false,
            componentKey: 0,
            showFormSourceLinkForm: false,
            sourceLinkCourse:'',
            multiSelect: false,
            selectFrom: undefined,
        }
    },
    mounted() {
        this.getTree();
        this.sourceLinkCourse = this.course_link;
    },
    created() {
        //need only update category with videos
        Event.listen('video_up_position', (video)=>{
            this.videoUpdatePosition(video, 'up', ()=>{
                //after change position of video - update category info
                this.getCategoryInfo(video.categoryId);
            });
        });
        //need only update category with videos
        Event.listen('video_down_position', (video)=>{
            this.videoUpdatePosition(video, 'down', ()=>{
                //after change position of video - update category info
                this.getCategoryInfo(video.categoryId);
            });
        });
        //select category video for move videos
        Event.listen('selected_category_video', (category)=>{
            this.selected_category = category;
        });
        //select videos for move video to other category
        Event.listen('selected_videos_in_category', (videos)=>{
            this.selected_videos_from_category = videos;
        });
        //update title of category videos
        Event.listen('update_category_video', (category)=>{
            this.sendRequestData(
                this.url_update_category,
                category,
                (response)=>{
                    this.getCategoryInfo(category.id);
                }
            );
        });
        //selected videos in category to move to another category
        Event.listen('selected_videos_from_category', (data)=>{
            this.fromCategory = data.fromCategory;
            this.selected_videos = data.video_ids;
        });
        //update position of category
        Event.listen('update_category_position', (data)=>{
            this.sendRequestData(
                this.url_up_down_category_position,
                data,
                (response)=>{
                    this.getTree();
                }
            );
        });
        //delete category
        Event.listen('delete_category', (data)=>{
            this.sendRequestData(
                this.url_delete_category,
                data,
                (response)=>{
                    this.getTree();
                }
            );
        })
    },
    methods:{
        //multi select more one checkbox with button "shift"
        toggle: function(todo, index, event){
            if(event.shiftKey){
                this.selected_videos = [];
                if(this.selectFrom>=0){
                    if(index>this.selectFrom){
                        for(let i=this.selectFrom; i<=index;i++){
                            this.selected_videos.push(this.otherVideos[i].id);
                        }
                    }else{
                        for(let i=this.selectFrom; i>=index;i--){
                            this.selected_videos.push(this.otherVideos[i].id);
                        }
                    }
                    this.selectFrom = undefined;
                }
            }else{
                this.selectFrom = index;
            }
        },
        copyCategoriesNames(){
            if(this.sourceCategories.length > 0){
                const titles = this.sourceCategories.map(category=>category.title);
                let data = {title:titles, course_id: this.course_id};
                this.sendRequestData(
                    this.url_create_category,
                    data,
                (response)=>{
                        this.getTree();
                    }
                );
            }
        },
        getSourceStructure(){
            const data = {url:this.sourceLinkCourse};
            this.sendRequestData(
                this.route_course_structure_from_source,
                data,
                (response)=>{
                    if(response.data.success===true){
                        this.sourceCategories = response.data.result;
                    }
                }
            );
        },
        saveSourceLinkCourse(){
            const data = {course_id: this.course_id, source_link: this.sourceLinkCourse};
            this.sendRequestData(this.url_update_source_link_of_course, data);
        },
        forceRerender() {
            this.componentKey += 1;
        },
        createCategory(){
            let data = {title:this.category, course_id: this.course_id};
            this.category = "";
            this.sendRequestData(this.url_create_category, data, (response)=>{
                this.getTree();
            });
        },
        sendRequestData(url, data, cb){
            axios.post(url, data)
                .then(function (response) {
                    if(cb!==undefined){
                        cb(response);
                    }
                })
                .catch(function (error) {
                    console.log(error);
                });
        },
        videoUpdatePosition(video, upDown, cb){
            let data = {videoId: video.id, position: upDown, categoryId: video.categoryId};
            this.sendRequestData(this.url_up_down_position_video, data, cb);
        },
        getCategoryInfo(categoryId){
            let data = {categoryId: categoryId};
            let url  = this.url_get_category;
            this.sendRequestData(
                this.url_get_category,
                data,
                (response)=>{
                    let categoryInfo = response.data;
                    let indexCategory = this.categories.findIndex(element=>{return element.id==categoryInfo.id});
                    categoryInfo.expand = true;
                    this.$set(this.categories, indexCategory, categoryInfo);
                    this.forceRerender();
                }
            );
        },
        addVideosToCategory(){
            //move videos from one category to another category
            if(this.fromCategory.name!==''){
                let data = {
                    from_category_id: this.fromCategory.id,
                    to_category_id: this.selected_category.id,
                    video_ids: this.selected_videos,
                    course_id: this.course_id,
                };
                this.sendRequestData(
                    this.url_move_to_another_category,
                    data,
                    ()=>{
                        this.selected_videos = [];
                        this.cancelSelectCategory();
                        this.getTree();
                    }
                );
            }else{
                //add videos from "notCategory" to selected category
                let data = {
                    category_id: this.selected_category.id,
                    video_ids: this.selected_videos,
                    course_id: this.course_id
                };
                this.sendRequestData(
                    this.url_add_video_to_category,
                    data,
                    ()=>{
                        this.selected_videos = [];
                        this.cancelSelectCategory();
                        this.getTree();
                    }
                );
            }
        },
        cancelSelectCategory(){
            this.selected_category = {name:""};
            this.selected_videos = [];
            this.fromCategory = {name: ''};
        },
        getTree(){
            let data = {courseId: this.course_id};
            let url = this.url_get_tree;
            this.sendRequestData(
                url,
                data,
                (response)=>{
                    this.categories = response.data.categories;
                    this.otherVideos = response.data.otherVideos;
                    this.forceRerender();
                }
            );
        },
    }
}
</script>

<style scoped>

</style>
