<template>
    <div class="accordion ">
        <div class="d-inline-flex">

                <div class="custom-control custom-switch">
                    <input type="checkbox" @click="select" class="custom-control-input" :id="`customSwitchCategory${id}`" v-show="!control_buttons_disabled">
                    <label class="custom-control-label" :for="`customSwitchCategory${id}`" v-show="!control_buttons_disabled">All</label>

                    <input type="radio" :name="`category`" :value="id" @click="selectCategory" v-show="!control_buttons_disabled">
                    <label class="alert-info" v-show="!editCategory" @dblclick.prevent.stop="expand=!expand">{{ name }} |  {{ duration }}({{this.videos.length}})</label>
                    <input type="text" v-show="editCategory" v-model="newTitle" >
                    <button @click.prevent.stop="saveCategory" v-show="editCategory" class="btn-sm btn-success">Save</button>
                    <button @click.prevent.stop="cancelEditCategory" v-show="editCategory" class="btn-sm btn-danger">Cancel</button>
                    <span v-show="!control_buttons_disabled">
                        <button @click.stop.prevent="showEditForm" v-show="!editCategory" class="btn-secondary btn-sm">edit</button>
                        <button @click.stop.prevent="upCategoryPosition" v-show="!editCategory" class="btn-secondary btn-sm">UP</button>
                        <button @click.stop.prevent="downCategoryPosition" v-show="!editCategory" class="btn-secondary btn-sm">Down</button>
                        <button @click.stop.prevent="deleteCategory" v-show="!editCategory" class="btn-danger btn-sm">Delete</button>
                    </span>
                </div>

        </div>
        <span v-show="!control_buttons_disabled">
            {{selectedVideos}}<button @click="addToMoveForm">Add to move form</button>
        </span>
        <table class="table" v-show="expand">
            <tbody>
                <tr v-for="(video, index) in videos" :key="video.id">
                    <th scope="row" v-show="!control_buttons_disabled"><input type="checkbox" @click="checkedVideo(video)" :checked="video.checked"></th>
                    <td>{{video.id}}</td>
                    <td>{{video.title}}</td>
                    <td>{{video.duration}}</td>
                    <td v-show="!control_buttons_disabled">
                        <button v-show="index>0" class="btn btn-info" @click.prevent.stop="upPosition(video)">UP</button>
                        <button v-show="index!==(videos.length-1)" class="btn btn-info" @click.prevent.stop="downPosition(video)">DOWN</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "CategoryVideos",
    props: {
        options:{
            type: Object,
            default(){return {};}
        },
        expanded: {
            type: Boolean,
            default(){return true;}
        },
        control_buttons_disabled:{
            type: Boolean,
            default() {
                return false;
            }
        }
    },
    data(){
        return {
            expand: false,
            checked: false,
            editCategory: false,
            newTitle:'',
            selected_videos:[],
            videos: [],
            duration: "",
            id:"",
            name:"",
            selectedVideos : [],
        }
    },
    methods:{
        deleteCategory(){
            const data = {categoryId: this.id};
            Event.fire('delete_category', data);
        },
        upCategoryPosition(){
            const data = {categoryId: this.id, upDown: 'up'};
            Event.fire('update_category_position', data);
        },
        downCategoryPosition(){
            const data = {categoryId: this.id, upDown: 'down'};
            Event.fire('update_category_position', data);
        },
        addToMoveForm(){
            //add selected videos to form, for move to another category
            if(this.selectedVideos.length > 0){
                let data = {
                    fromCategory: {id: this.id, name: this.name},
                    video_ids: this.selectedVideos,
                }
                Event.fire('selected_videos_from_category', data);
            }
        },
        checkedVideo(video){
            this.selectedVideos = [];
            const videos = this.videos.map((item, index) => {
                if(item.id==video.id){
                    item.checked = !video.checked;
                }
                if(item.checked){
                    this.selectedVideos.push(item.id);
                }
                return item;
            });
            this.videos = videos;
        },
        select(){
            this.selectedVideos = [];
            const videos = this.videos.map(video=>{
                video.checked = !video.checked;
                if(video.checked){
                    this.selectedVideos.push(video.id);
                }
                return video;
            });
            this.videos = videos;
        },
        selectCategory(){
            let data = {id:this.id, duration: this.duration, name: this.name};
            Event.fire('selected_category_video', data);
        },
        upPosition(video){
            video.categoryId = this.id;
            Event.fire('video_up_position', video);
        },
        downPosition(video){
            video.categoryId = this.id;
            Event.fire('video_down_position', video);
        },
        showEditForm(){
            this.newTitle = this.name;
            this.editCategory = true;
        },
        saveCategory(){
            let data = {id:this.id, title: this.newTitle};
            Event.fire('update_category_video', data);
            this.editCategory = false;
        },
        cancelEditCategory(){
            this.editCategory = false;
        },
    },
    mounted() {
        this.id = this.options.id;
        this.expand = this.options.expand;
        this.name = this.options.title;
        this.duration = this.options.duration;
        this.videos = this.options.videos.map(video => {video.checked = false; return video;});
        this.expand = this.options.expand;
    },
}
</script>

<style scoped>

</style>
