<template>
    <div>
        <button class="btn btn-primary " type="button" @click.prevent="send" :disabled="isDisable === true">
            <i class="fa fa-heart" aria-hidden="true">
                {{label}}
            </i>
        </button>
    </div>
</template>

<script>
    export default {
        name: "CourseFavorite",
        computed: {
            isDisable: function(){
                return this.isDisabled;
            }
        },
        data(){
            return {
                'isDisabled': false,
            }
        },
        mounted() {
            if(this.disable == "true"){
                this.disableButtons();
            }
        },
        methods: {
            send() {
                this.disableButtons(true);
                const currentObj = this;
                axios.post('/favorites', {'course_id': currentObj.course_id})
                    .then(function (response) {
                        //window.location.reload();
                        console.log(response);
                    })
                    .catch(function (error) {
                        console.log('error');
                        console.log(error);
                    });
            },
            disableButtons(){
                this.isDisabled = true;
            }
        },
        props: [
            'course_id',
            'disable',
            'label',
        ],
    }
</script>

<style scoped>

</style>
