<template>
    <div>

        <button class="fa fa-thumbs-up likePost"
                @click.prevent="like"
                :disabled="isDisable === true"
        >{{likesCount}}</button>
        <button class="fa fa-thumbs-down likePost"
                :disabled="isDisable === true"
                @click.prevent="unlike"
        >{{dislikesCount}}</button>
    </div>
</template>

<script>
    export default {
        name: "LikeUnlikeComponent",
        data(){
            return {
                'likesCount': 0,
                'dislikesCount': 0,
                'isDisabled': false,
            }
        },
        mounted() {
            this.likesCount = this.likes;
            this.dislikesCount = this.unlikes;
            if(this.disable == "true"){
                this.disableButtons(true);
            }
        },
        computed: {
            isDisable: function(){
                return this.isDisabled;
            }
        },
        methods: {
            like() {
                this.likesCount++;
                this.disableButtons(true);
                const currentObj = this;
                axios.post('/vote', {'product_id': currentObj.product_id, 'action':'likes'})
                    .then(function (response) {
                        //window.location.reload();
                    })
                    .catch(function (error) {
                        //currentObj.output = error;
                    });
            },
            unlike() {
                this.dislikesCount++;
                this.disableButtons(true);
                const currentObj = this;
                axios.post('/vote', {'product_id': currentObj.product_id, 'action':'unlikes'})
                    .then(function (response) {
                        //window.location.reload();
                    })
                    .catch(function (error) {
                        //currentObj.output = error;
                    });
            },
            disableButtons(value){
                this.isDisabled = value;
            }
        },
        props: [
            'likes',
            'unlikes',
            'product_id',
            'disable'
        ],
    }
</script>

<style scoped>
    .fa {
        font-size: 25px;
        cursor: pointer;
        user-select: none;
    }

    .fa:hover {
        color: darkblue;
    }

</style>
