<template>
    <div class="row">
        <div class="col float-left">
            <p class="card-text">
                <video ref="videoPlayer" class="video-js vjs-fluid vjs-default-skin"></video>
            </p>
        </div>

        <div class="col-4 collapse show multi-collapse"  id="play-list-toggle">
          <ul class="list-group  list-group-base" >
              <div class="pt-md-2" v-for="(category, index) in this.categoriesVideos">
                  <li>
                      <span :href="index" class="btn btn-success text-left btn-block fa fa-angle-double-down"
                              @click="toogleCategory(index)" data-toggle="collapse" aria-expanded="true"  aria-controls="collapseExample">
                        {{category.title}}
                      </span>
                      <ul :class="isVisibleCategory(index) ? 'list-group show collapse': 'list-group collapse'">
                          <li :class="isSelectVideo(video.id) ? 'active': '' "
                              @click="selectVideo(video.id)"
                              class="list-group-item d-flex justify-content-between align-items-center"
                              v-for="(video, indexVideo) in category['videos']" :key="video.id">
                            <span class="text-left">{{ video.name }}</span>
                            <span class="badge badge-primary badge-pill">{{video.duration}}</span>
                          </li>
                      </ul>
                  </li>
              </div>
          </ul>
        </div>
    </div>
</template>

<script>
    import videojs from 'video.js';
    require('videojs-playlist');
    export default {
        name: "PlayerComponent",
        props: {
            options: {
                type: Object,
                default() {
                    return {};
                }
            }
        },
        methods:{
            selectVideo(videoId){
                let index = this.options.sources.findIndex((video)=>{return video.id==videoId;}, videoId);
                this.player.playlist.currentItem(index);
                this.currentVideo = this.options.sources[index].id;
            },
            isSelectVideo(videoId){
                return this.currentVideo === videoId;
            },
            toogleCategory(indexCategory){
              let isExist = this.showCategories.includes(indexCategory);
              if(!isExist){
                this.showCategories.push(indexCategory);
              }else{
                let index = this.showCategories.indexOf(indexCategory);
                this.showCategories.splice(index, 1);
              }
            },
            isVisibleCategory(indexCategory){
              return this.showCategories.includes(indexCategory);
            }
        },
        computed:{

        },
        data() {
            return {
                player: null,
                currentVideo: null,
                showCategories: [],
                categoriesVideos: [],
            }
        },
        mounted() {
          let list = [];
          const videos = [];
          for(let category of this.options.sources['categories']){
              if(category['videos'].length > 0){
                  this.categoriesVideos.push(category);
                  category['videos'].forEach(video=>{
                    videos.push(video);
                    list.push({
                      sources: [{src:video.src, type: video.type, name: video.name}],
                      poster: '',
                      thumbnail: false,
                    });
                  });
            }
          }

          this.options.sources = videos;

          this.player = videojs(this.$refs.videoPlayer, this.options, function onPlayerReady() {
              //console.log('onPlayerReady', this);
          });

          this.player.playlist(list);
          this.player.playlist.autoadvance(0);
          this.player.on('play', function() {
              let videoId = this.options.sources[this.player.playlist.currentItem()].id;
              this.selectVideo(videoId);
          }.bind(this));
        },
        beforeDestroy() {
            if (this.player) {
                this.player.dispose()
            }
        },
    }
</script>
<style scoped>
    .list-group{
        max-height: 540px;
        margin-bottom: 10px;
        overflow:scroll;
        -webkit-overflow-scrolling: touch;
        cursor: pointer;
    }
    .list-group-base{
        overflow-x: hidden;
    }
</style>
