<template>
    <div>
        <player-component :options="videoOptions"/>
    </div>
</template>

<script>
    import PlayerComponent from "./PlayerComponent";
    export default {
        name: "VideoPlayerComponent",
        components: {
            PlayerComponent,
        },
        props: {
            videos: {
                type: Object,
                default() {
                    return [];
                }
            }
        },
        data() {
            return {
                videoOptions: {
                    autoplay: false,
                    controls: true,
                    playbackRates: [0.5, 1, 1.5, 2],
                    responsive: true,
                    nativeVideoTracks: true,
                    fluid: true,
                    sources: this.videos,
                }
            };
        }
    }
</script>
