<template>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <button class="btn btn-danger btn-block" @click="reCalcPosition()">Re Calculate Position Videos</button>
                <button class="btn btn-danger btn-block btn-sm" @click="reCalcPositionById()">Re Calculate Position Videos(by id)</button>
                <button class="btn btn-danger btn-block btn-sm" @click="removeAllVideos()">Remove All Videos</button>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">Upload video file</div>
                    <div class="card-body">
                        <div v-if="success != ''" class="alert alert-success" role="alert">{{success}}</div>
                        <form @submit.prevent="formSubmit" class="form-inline">
                            <div class="form-group mb-2">
                                <input type="file" accept="video/mp4" name="file[]" id="file" multiple class="form-control" v-on:change="onFileChange">
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                <button :disabled="uploadProcess" class="btn btn-success">Upload</button>
                            </div>
                            <div class="form-group mx-sm-3 mb-2">
                                {{progress}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-10">
            <table class="table table-bordered" id="table">
                <thead>
                <tr>
                    <th>Pos</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Url</th>
                    <th>Duration</th>
                    <th>Size</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tr v-for="video in videos">
                    <td>{{ video.position }}</td>
                    <td>{{ video.id }}</td>
                    <td>{{ video.title }}</td>
                    <td>{{ video.url }}</td>
                    <td>{{ video.duration }}</td>
                    <td>{{ video.size }}</td>
                    <td>
                        <button class="btn btn-sm btn-outline-secondary" @click="videoView(video.url, video.title)">
                            <span class="fa fa-angle-up">Video</span>
                        </button>

                        <button class="btn btn-sm btn-outline-primary" @click="upPosition(video.id)">
                            <span class="fa fa-angle-up">UP</span>
                        </button>

                        <button class="btn btn-sm btn-outline-primary" @click="downPosition(video.id)">
                            <span class="fa fa-angle-down">Down</span>
                        </button>

                        <a :href="`/admin/videos/edit/${video.id}`" class="btn btn-sm btn-info">Edit</a>
                        <a @click.prevent="deleteVideo(video.id)" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            </table>
            </div>
        </div>
    </div>
</template>

<script>
    import PlayerComponent from "./PlayerComponent";
    export default {
        components: {PlayerComponent},
        mounted() {
        },
        props: [
            'videos',
            'productId',
            'routeStorageUpload',
            'routeCreate',
            'routeStorageVideo',
            'routeDelete',
            'routeUpPosition',
            'routeDownPosition',
            'routeReCalcPosition',
            'routeRemoveAllVideos',
            'token',
        ],
        data() {
            return {
                success: '',
                uploads: [],
                //store upload progress 0-100 in value, and show it on the screen
                percentCompleted: 0,
                progress: '',
                modalOpen: false,
                urlVideo:'',
                titleVideo: '',
                uploadProcess: false,
            };
        },
        methods: {
            openModal() {
                this.modalOpen = !this.modalOpen;
            },
            videoView(url, title){
                this.urlVideo = `${this.routeStorageVideo}${this.productId}/${url}`;
                this.titleVideo = title;
                this.modalOpen = !this.modalOpen;
            },
            downPosition(id){
                const currentObj = this;
                axios.post(this.routeDownPosition, {id: id})
                    .then(function (response) {
                        window.location.reload();
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                    });
            },
            upPosition(id){
                const currentObj = this;
                axios.post(this.routeUpPosition, {id: id})
                    .then(function (response) {
                        window.location.reload();
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                    });
            },
            reCalcPosition(){
                const currentObj = this;
                axios.post(this.routeReCalcPosition, {id: this.productId})
                    .then(function (response) {
                        window.location.reload();
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                    });
            },
            reCalcPositionById(){
                const currentObj = this;
                axios.post(this.routeReCalcPosition, {id: this.productId, by: 'id'})
                    .then(function (response) {
                        window.location.reload();
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                    });
            },
            removeAllVideos(){
                const currentObj = this;
                axios.post(this.routeRemoveAllVideos, {id: this.productId})
                    .then(function (response) {
                        window.location.reload();
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                    });
            },
            deleteVideo(id){
                const currentObj = this;
                //send request for delete file from storage
                axios.delete(`${this.routeDelete}`, {data: {id: id}})
                    .then(function (response) {
                        window.location.reload();
                    })
                    .catch(function (error) {
                        currentObj.output = error;
                    });
            },
            onFileChange(e){
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;

                for (var i = 0; i < files.length; i++) {
                    this.uploads.push(files[i]);
                }
            },
            uploadVideo(formData){
                let currentObj = this;
                const config = {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                        'x-access-token': this.token,
                    } ,
                    onUploadProgress: function(progressEvent) {
                        this.percentCompleted = Math.round( (progressEvent.loaded * 100) / progressEvent.total );
                        this.$forceUpdate();
                        window.Event.fire('percent', this.percentCompleted);
                        this.$forceUpdate();
                    }.bind(currentObj)
                };
                const routeCreate = this.routeCreate;
                const productId = this.productId;
                return new Promise(((resolve, reject) => {
                    axios.post(this.routeStorageUpload, formData, config)
                        .then(function (response) {
                            const videoInfo = {
                                'title': response.data.originalname,
                                'url': response.data.filename,
                                'product_id': productId,
                                'duration': response.data.durationInSeconds,
                                'size': response.data.size,
                            };
                            //send request - create video info
                            axios.post(routeCreate, videoInfo)
                                .then(function (responseCreate) {
                                    currentObj.videos.push({
                                        "id": responseCreate.data.data.id,
                                        "title": responseCreate.data.data.title,
                                        "url": responseCreate.data.data.url,
                                        "duration": responseCreate.data.data.duration,
                                        "size": responseCreate.data.data.size,
                                        "position" : responseCreate.data.data.position,
                                    });
                                    currentObj.$forceUpdate();
                                    resolve(true);
                                })
                                .catch(function (errorCreate) {
                                    currentObj.output = errorCreate;
                                    reject(errorCreate);
                                })
                        })
                        .catch(function (error) {
                            currentObj.output = error;
                            reject(error);
                        });
                }))
            },
            async formSubmit() {
                if (this.uploads.length > 0) {
                    this.uploadProcess = true;
                    for (var i = 0; i < this.uploads.length; i++) {
                        let formData = new FormData();
                        let video = this.uploads[i];
                        formData.append('video', video);
                        formData.append('product_id', this.productId);
                        await this.uploadVideo(formData).then(result=>{
                            this.progress = `Upload progress: ${i+1}/${this.uploads.length}`;
                            this.$forceUpdate();
                        });
                    }
                    this.success = "Success upload";
                    this.uploads = [];
                    window.location.reload();
                }
            },
        }
    }
</script>
